.about{
    display: grid;
    row-gap: 3rem;

    
    &__title{
        text-align: center;
    }

    &__content{
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__sliders{
        overflow: hidden;
        max-width: 35.625rem;
        width: calc(100% / 1);


       
    }

    &__containerSliders{
        display: flex;
         transition: all 1.25s ease-in-out;
    }

    &__slideCard{
        margin-left: 16px;
    }

    &__slideCard:nth-child(1){
        margin-left: 0;
    }

    &__action{
        display: flex;
        max-width: fit-content;
        column-gap: .5rem;
    }

   

}
