.about{
    display: grid;
    row-gap: 3rem;

    
    &__title{
        text-align: center;
    }

    &__content{
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__sliders{
        margin-inline: auto;
        width: 428px;
        overflow: hidden;
        transform: translateX(0px);
       
    }

    &__containerSliders{
        display: flex;
        column-gap: 2rem;
        width: 100%;
         transition: all 1.25s ease-in-out;
    }

    &__action{
        display: flex;
        max-width: fit-content;
        column-gap: .5rem;
    }

}
