.about{
    display: grid;
    row-gap: 3rem;

    
    &__title{
        text-align: center;
    }

    &__content{
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__sliders{
        --iner:1;
        overflow: hidden;
        max-width: 35.625rem;
     
    }

    &__containerSliders{
        display: flex;
        column-gap: 2rem;
         transition: all 1.25s ease-in-out;
    }

    &__action{
        display: flex;
        max-width: fit-content;
        column-gap: .5rem;
    }

   

}
