.about{
    display: grid;
    row-gap: 3rem;

    
    &__title{
        text-align: center;
    }

    &__content{
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    &__sliders{
        position: relative;
        overflow: hidden;
        height: 750px;
        
    }

    &__containerSliders{
        position: relative;
        display: grid;
        row-gap: 2rem;
        transform: translateY(0px);
        transition: 1s ease-in-out;        
    }

    &__action{
        display: flex;
        max-width: fit-content;
        column-gap: .5rem;
    }

}
