header {
    transition: all .25s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.header--active {
    background-color: #060816;
    box-shadow: 0px 20px 20px -20px #000000;
    z-index: 3;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap);
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 4.1rem;
        left: 0;
        transform: translateY(-130%);
        width: 100%;
        box-shadow: 0px 10px 10px rgba(80, 80, 80, .2);
        padding-block: 3rem;
        transition: transform .7s ease-in-out, background-color .25s;
        background-color: #060816;
       

    }

    &__menu--active {
        transform: translateY(0%);
        background-color: #060816;
        z-index: 3;
        overflow: auto;
    }


    &__list {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap);
    }

    &__item {
        transition: all .25s;


        &:is(:hover, :active) {
            color: var(--ff);
            text-decoration: underline;
        }
    }


    &__btnGroup {
        display: flex;
        column-gap: var(--gap);
    }


    @media (min-width:58em) {
        width: 100%;

        &__menu {
            transform: inherit;
            padding-block: inherit;
            flex-direction: row;
            position: relative;
            top: inherit;
            left: inherit;
            box-shadow: inherit;
            justify-content: space-between;
            row-gap: inherit;
        }

        &__list {
            flex-direction: row;
            column-gap: var(--gap);
            margin-inline: auto;
            padding-block: inherit;
        }



        &__btnAction {
            display: none;
        }
    }
}