header {
    z-index: 998;
    transition: all .5s;
}

.header--active {
    position: fixed;
    right: 0;
    left: 0;
    padding-top: 0;
    padding-block: 1rem;
    background-color: #060816;
    border-bottom:1px solid #0f132f;
    box-shadow: 0px 20px 20px -20px  #000000;;
    z-index: 999;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap);
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 4.1rem;
        left: 0;
        transform: translateY(-130%);
        width: 100%;
        box-shadow: 0px 10px 10px rgba(80, 80, 80, .2);
        padding-block: 2rem;
        transition: transform .7s ease-in-out, background-color .25s;
        z-index: 998;
        background-color: #060816;
    }

    &__menu--active {
        transform: translateY(0%);

    }


    &__list {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap);
    }

    &__items {
        transition: all .25s;


        &:is(:hover, :active) {
            color: var(--ff--white);
            text-decoration: underline;
        }
    }


    &__btn--group {
        display: flex;
        column-gap: var(--gap);
    }


    @media (min-width:58em) {

        &__menu {
            padding-block: inherit;
            flex-direction: row;
            position: relative;
            top: inherit;
            left: inherit;
            box-shadow: inherit;
            justify-content: space-between;
            row-gap: inherit;
        }

        &__list {
            flex-direction: row;
            column-gap: var(--gap);
            margin-inline: auto;
            padding-block: inherit;
        }



        &__btn--action {
            display: none;
        }
    }
}