.showcase {
    display: grid;
    row-gap: 3rem;
    text-align: center;
    padding-block: var(--gap-section);
    margin-top: 5.3rem;

    &__boxImg {
        margin-inline: auto;
        width: 70%;
    }

    &__content {
        display: grid;
        row-gap: 1.5rem;
        justify-content: center;
    }

    &__title {
        color: var(--ff);
        font-weight: var(--fw800);
        font-size: var(--fs-title);
        line-height: var(--line-hight-mobile);

    }

    &__paragraph {
        font-size: var(--fs-paragraph);
        line-height: 1.5rem;

    }

    &__paragraph--footer {
        font-size: 1rem;
    }

    &__btn {
        margin-inline: auto;
    }

    @media (min-width:34.375em) {

        &__title {
            line-height: 4.3rem;
        }
    }

    @media (min-width:52em) {
        grid-template-columns: 1fr 1fr;
        text-align: left;
        column-gap: var(--gap);

        &__boxImg {
            width: 100%;
            display: grid;
            justify-content: center;
        }

        &__content {
            justify-content: center;
        }

        &__title {
            line-height: var(--line-hight);
            width: 35rem;
        }

        &__paragraph {
            width: 35rem;
        }

        &__btn {
            margin-inline: inherit;

        }
    }

}