.nav__btn--open{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    .line{
        position:absolute;
        left: 0;    
        background-color: white;
        width: 100%;
        height: .2rem;
        border-radius: 2px;
        transition: all .5s ease-in-out;


        &--one{
            top: .2rem;
        }
        
        &--three{
            bottom: .2rem;
        }
        
    }



}

.btn--close{
        
        .line--one{
            transform: translateY(10px) rotate(135deg);
        }
        .line--two{
            transform: scale(0);
        }
        .line--three{
            transform: translateY(-12px) rotate(-135deg);
        }
}

