h2 {
    color: var(--ff);
    font-size: 2.625rem;
    font-weight: var(--fw800);
    line-height: 2.625rem;
}

p {
    color: var(--ff-color);
    font-size: var(--fs-paragraph);
    font-weight: var(--fw400);
    line-height: 2rem;
}

a {
    font-size: var(--fs-nav);
}
.accent--title {
    background-image: var(--linear-gradient--btn);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid;
    border-image-source: var(--linear-gradient--btn);
    border-image-slice: 1;
    padding: .3rem;
}